body{
    background: black;
    overflow-x: hidden;
}

.header__container{
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
}

.logo__container{
    display: flex;
    justify-content: center;

}       

.logo__container img{
    width: 1500px;
}

.pesquisa__container{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
 
    
}

.pesquisa__container img{
    width: 25px;
    
}

.foto__container{
    width: 100%;
    height: 560px;
    background-size: cover;
    background-image: url("../imagens/neon.jfif");
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    background-attachment: fixed;
}

.foto__container p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #9e28e2;
    
  }

  .main__container .last__container {
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-Attachment: fixed;
}

.lista1__container{
    color: white;
}

.footer__container{
    color: white;
}

.div__footer{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 200px;
    
}